<a href="https://colab.research.google.com/github/rohittttt28/NLP_Class/blob/master/NLPclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
np.random.seed(0)
plt.style.use("ggplot")
print(tf.config.list_physical_devices('GPU'))
print(tf.__version__)

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
2.3.0

In [5]:

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import random
import string
import io

#Input of csv 
df=pd.read_csv('https://raw.githubusercontent.com/rohittttt28/News_Scrapy/master/review.csv',usecols=["Review Text"]).rename(columns={"Review Text": "Review"}).dropna()

#df['Review']=df['Review'].map(lambda x :x.lower()).map(lambda x:x.replace(" ",""))

df['id']=[n for n in np.arange(len(df))]
df=df.set_index('id')

In [6]:
df.head()

                                               Review
id
0   Absolutely wonderful - silky and sexy and comf...
1   Love this dress!  it's sooo pretty.  i happene...
2   I had such high hopes for this dress and reall...
3   I love, love, love this jumpsuit. it's fun, fl...
4   This shirt is very flattering to all due to th...

In [7]:
df['Review'][1]

'Love this dress!  it\'s sooo pretty.  i happened to find it in a store, and i\'m glad i did bc i never would have ordered it online bc it\'s petite.  i bought a petite and am 5\'8".  i love the length on me- hits just a little below the knee.  would definitely be a true midi on someone who is truly petite.'

NLTK 
step 1: Tokenizing

In [8]:
import nltk 
from nltk import word_tokenize,wordpunct_tokenize
from nltk.tokenize import WordPunctTokenizer
tokenizer = WordPunctTokenizer()

In [9]:
#df['Tokens']=df['Review'].map(lambda x:tokenizer.tokenize(x))
df['Tokens']=df['Review'].apply(lambda x:tokenizer.tokenize(x))
x1=df.drop(['Review'],axis=1).copy(deep=True)

In [10]:
x1

                                                  Tokens
id
0      [Absolutely, wonderful, -, silky, and, sexy, a...
1      [Love, this, dress, !, it, ', s, sooo, pretty,...
2      [I, had, such, high, hopes, for, this, dress, ...
3      [I, love, ,, love, ,, love, this, jumpsuit, .,...
4      [This, shirt, is, very, flattering, to, all, d...
...                                                  ...
22636  [I, was, very, happy, to, snag, this, dress, a...
22637  [It, reminds, me, of, maternity, clothes, ., s...
22638  [This, fit, well, ,, but, the, top, was, very,...
22639  [I, bought, this, dress, for, a, wedding, i, h...
22640  [This, dress, in, a, lovely, platinum, is, fem...

[22641 rows x 1 columns]

STEP 2: Stop Words

In [11]:
nltk.download('stopwords')
from nltk.corpus import stopwords 
stop_words = set(stopwords.words('english')) 

def filter_me_bitch(x):
  filtered_sentence = [] 
  for w in x: 
      if w not in stop_words: 
          filtered_sentence.append(w)
  return filtered_sentence         
x1['Filter_tok']=x1['Tokens'].apply(lambda x:filter_me_bitch(x))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [17]:
x1
print(x1['Tokens'][1])
print(x1['Filter_tok'][1])
print(len(x1['Tokens'][1]))
print(len(x1['Filter_tok'][1]))

['Love', 'this', 'dress', '!', 'it', "'", 's', 'sooo', 'pretty', '.', 'i', 'happened', 'to', 'find', 'it', 'in', 'a', 'store', ',', 'and', 'i', "'", 'm', 'glad', 'i', 'did', 'bc', 'i', 'never', 'would', 'have', 'ordered', 'it', 'online', 'bc', 'it', "'", 's', 'petite', '.', 'i', 'bought', 'a', 'petite', 'and', 'am', '5', "'", '8', '".', 'i', 'love', 'the', 'length', 'on', 'me', '-', 'hits', 'just', 'a', 'little', 'below', 'the', 'knee', '.', 'would', 'definitely', 'be', 'a', 'true', 'midi', 'on', 'someone', 'who', 'is', 'truly', 'petite', '.']
['Love', 'dress', '!', "'", 'sooo', 'pretty', '.', 'happened', 'find', 'store', ',', "'", 'glad', 'bc', 'never', 'would', 'ordered', 'online', 'bc', "'", 'petite', '.', 'bought', 'petite', '5', "'", '8', '".', 'love', 'length', '-', 'hits', 'little', 'knee', '.', 'would', 'definitely', 'true', 'midi', 'someone', 'truly', 'petite', '.']
78
43

Step 3:Let's stem

In [21]:
from nltk.stem import PorterStemmer 
ps = PorterStemmer() # is it a ps ,you write after every script ,,,Hell NOOO
def stem_lightly(x):
  cd=[]
  for i in x:
    cd.append(ps.stem(i))
  return cd

In [22]:
#x1['stem_it']=x1['Filter_tok'].apply(lambda x:ps.stem(x)) #not working because we need a list le me**Happy diwali
x1['stem_it']=x1['Filter_tok'].apply(lambda x:stem_lightly(x)) # yah it worked !!!baap baap hota h

In [23]:
x1['stem_it']

id
0               [absolut, wonder, -, silki, sexi, comfort]
1        [love, dress, !, ', sooo, pretti, ., happen, f...
2        [I, high, hope, dress, realli, want, work, ., ...
3        [I, love, ,, love, ,, love, jumpsuit, ., ', fu...
4        [thi, shirt, flatter, due, adjust, front, tie,...
                               ...
22636    [I, happi, snag, dress, great, price, !, ', ea...
22637    [It, remind, matern, cloth, ., soft, ,, stretc...
22638    [thi, fit, well, ,, top, see, ., never, would,...
22639    [I, bought, dress, wed, summer, ,, ', cute, .,...
22640    [thi, dress, love, platinum, feminin, fit, per...
Name: stem_it, Length: 22641, dtype: object

Step 4: Lemmatization # spelling sahi samjh lena

In [24]:
nltk.download('wordnet') #download wali cheez pehle kiya kr 
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
def lemmatizz_slowly(x):
  cd=[]
  for i in x:
    cd.append(lemmatizer.lemmatize(i))
  return cd

x1['lemma']=x1['Filter_tok'].apply(lambda x:lemmatizz_slowly(x))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [25]:
x1
#abhi itna hi ...to be continued!!

                                                  Tokens  ...                                            stem_it
id                                                        ...
0      [Absolutely, wonderful, -, silky, and, sexy, a...  ...         [absolut, wonder, -, silki, sexi, comfort]
1      [Love, this, dress, !, it, ', s, sooo, pretty,...  ...  [love, dress, !, ', sooo, pretti, ., happen, f...
2      [I, had, such, high, hopes, for, this, dress, ...  ...  [I, high, hope, dress, realli, want, work, ., ...
3      [I, love, ,, love, ,, love, this, jumpsuit, .,...  ...  [I, love, ,, love, ,, love, jumpsuit, ., ', fu...
4      [This, shirt, is, very, flattering, to, all, d...  ...  [thi, shirt, flatter, due, adjust, front, tie,...
...                                                  ...  ...                                                ...
22636  [I, was, very, happy, to, snag, this, dress, a...  ...  [I, happi, snag, dress, great, price, !, ', ea...
22637  [It, reminds, me, of, maternity, clothes, ., s...  ...  [It, remind, matern, cloth, ., soft, ,, stretc...
22638  [This, fit, well, ,, but, the, top, was, very,...  ...  [thi, fit, well, ,, top, see, ., never, would,...
22639  [I, bought, this, dress, for, a, wedding, i, h...  ...  [I, bought, dress, wed, summer, ,, ', cute, .,...
22640  [This, dress, in, a, lovely, platinum, is, fem...  ...  [thi, dress, love, platinum, feminin, fit, per...

[22641 rows x 4 columns]